*~
/*
!/debian
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/*.debhelper
/debian/autoreconf.after
/debian/autoreconf.before
/debian/liboctave-dev
/debian/liboctave3v5
/debian/octave-common
/debian/octave-dbg
/debian/octave-doc
/debian/octave-htmldoc
/debian/octave-info
/debian/octave
/debian/tmp
/debian/debhelper-build-stamp
