.pc/
BUGS*
COPYING
ChangeLog*
INSTALL*
Make*
NEWS*
PROJECTS
README
README.Cygwin
README.kpathsea
README.Linux
README.MSVC
README.Windows
ROADMAP
SENDING-PATCHES
THANKS
*.m4
auto*
*-stamp
config*
debian/control
debian/copyright
debian/defs.make
debian/files
debian/octave-depends
debian/*.debhelper.log
debian/*.substvars
debian/octave2.9*
debian/octave3.*
debian/patches/series
debian/stamp-patched
debian/watch
doc/
emacs/
examples/
install-sh
libcruft/
liboctave/
missing
mk*
move-if-change
octMakefile*
octave-bug*
octave-config*
octave-depends-*
octave-sh
run-octave*
scripts/
src/
test/

