[EMACS: -*- debian-control -*- :]
Source: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]
Section: math
Priority: optional
Maintainer: Debian Octave Group <pkg-octave-devel@lists.alioth.debian.org>
Uploaders: Rafael Laboissiere <rafael@debian.org>,
 Thomas Weber <thomas.weber.mail@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: g++-4.1 [arm], gcc-4.1 [arm], gfortran,
 debhelper (>= 6.0.7), autoconf, texinfo,
 texlive-latex-base, texlive-generic-recommended, libreadline5-dev,
 libncurses5-dev, gperf, libhdf5-serial-dev (>= 1.6.6) |
 libhdf5-lam-dev (>= 1.6.6) | libhdf5-mpich-dev (>= 1.6.6),
 libblas-dev, liblapack-dev, gnuplot-nox, libfftw3-dev, texi2html,
 less, dpatch, slice[V_3_1:[V_3_0:, libpcre3-dev, flex, libglpk-dev (>= 4.15),
 libsuitesparse-dev (>= 3.1.0-2), gawk, ghostscript, libcurl4-dev,
 libqhull-dev, desktop-file-utils:], libfltk1.1-dev, mesa-common-dev,
 libgraphicsmagick++1-dev::][V_2_1:, dejagnu:]
Standards-Version: 3.8.0
Homepage: http://www.octave.org/
Vcs-Svn: svn://svn.debian.org/svn/pkg-octave/octave/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-octave/octave/

Package: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]
Architecture: any
Depends: ${shlibs:Depends}, texinfo
Recommends: gnuplot, libatlas3gf-base
Suggests: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-info,
 octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-doc,
 octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-htmldoc,
 octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-headers (= ${binary:Version}),
 octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-emacsen
Replaces: octave (<= 2.0.16-2)
Conflicts: octave (<= 2.0.16-2)[V_3_0:, octave2.9 (<< 1:3):]
Provides: octave
Description: GNU Octave language for numerical computations ([V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 Octave uses some of the best and most respected numerical libraries as
 balgen, dassl, eispack, fftpack, lapack, linpack, minpack, odepack,
 ranlib, slatec-fn and villad. Octave can be dynamically extended with
 user-supplied C++ files.[V_2_1:
 .
 The recommended branch of Octave is 3.0.  Please, use the octave3.0
 package instead of this one, since it will be dropped after the Debian
 lenny release.:][V_3_1:
 .
 This recommended branch of Octave is 3.0.  The 3.1 branch is
 experimental and is considered to be unstable.:]

Package: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-doc
Architecture: all
Section: doc
Suggests: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:], xpdf | pdf-viewer
Conflicts: octave-doc (<< 2.1)[V_3_0:, octave2.9-doc (<< 1:3):]
Provides: octave-doc
Replaces: octave-doc
Description: PDF documentation on the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in PDF format:
 the FAQ, a reference card in a4, letter and legal formats, a document on the
 C++ classes used by Octave, as well as the main octave documentation which
 is also included in info format in the octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-info package.[V_2_1:
 .
 The recommended branch of Octave is 3.0.  Please, use the octave3.0-doc
 package instead of this one, since it will be dropped after the Debian
 lenny release.:][V_3_1:
 .
 This recommended branch of Octave is 3.0.  The 3.1 branch is
 experimental and is considered to be unstable.:]


Package: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-htmldoc
Architecture: all
Section: doc
Suggests: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:], lynx | www-browser
Conflicts: octave-htmldoc (<< 2.1), octave2.0-htmldoc[V_3_0:, octave2.9-htmldoc (<< 1:3):]
Replaces: octave-htmldoc
Provides: octave-htmldoc
Description: HTML documentation on the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in html format:
 the FAQ, a document on the C++ classes used by Octave, as well as the main
 octave documentation which is also included in info format in the main
 Octave package.[V_2_1:
 .
 The recommended branch of Octave is 3.0.  Please, use the octave3.0-htmldoc
 package instead of this one, since it will be dropped after the Debian
 lenny release.:][V_3_1:
 .
 This recommended branch of Octave is 3.0.  The 3.1 branch is
 experimental and is considered to be unstable.:]

Package: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-headers
Architecture: any
Depends: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] (= ${binary:Version}), gfortran,
 gcc [!arm], gcc-4.1 [arm], g++ [!arm], g++-4.1 [arm],
 libreadline5-dev, libncurses5-dev, libhdf5-serial-dev (>= 1.6.5)
 | libhdf5-lam-dev (>= 1.6.5) | libhdf5-mpich-dev (>= 1.6.5),
 libblas-dev, liblapack-dev, libfftw3-dev,
 f2c [m68k]
Conflicts: octave-headers (<< 2.1)[V_3_0:, octave2.9-headers (<< 1:3):]
Provides: octave-headers
Replaces: octave-headers
Description: header files for the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the include files needed to compile and link
 user-supplied code with GNU Octave. If you only write interpreted .m files,
 you do not need this package.
 .
 The package is architecture-specific as it contains machine-dependent
 compiler switches in the mkoctfile script.[V_2_1:
 .
 The recommended branch of Octave is 3.0.  Please, use the octave3.0-headers
 package instead of this one, since it will be dropped after the Debian
 lenny release.:][V_3_1:
 .
 This recommended branch of Octave is 3.0.  The 3.1 branch is
 experimental and is considered to be unstable.:]

Package: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-emacsen
Architecture: all
Depends: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:], emacs22 | xemacs21 | emacsen,
 debianutils (>= 1.6)
Conflicts: octave2.0-emacsen[V_3_0:, octave2.9-emacsen (<< 1:3):]
Replaces: octave (<= 2.0.16-2)
Provides: octave-emacsen
Description: Emacs support for the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the elisp files for the Octave modes for GNU Emacs
 and XEmacs.[V_2_1:
 .
 The recommended branch of Octave is 3.0.  Please, use the octave3.0-emacsen
 package instead of this one, since it will be dropped after the Debian
 lenny release.:][V_3_1:
 .
 This recommended branch of Octave is 3.0.  The 3.1 branch is
 experimental and is considered to be unstable.:]

Package: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-info
Architecture: all
Depends: info (>= 3.12) | info-browser
Conflicts: octave2.0-info[V_3_0:, octave2.9-info (<< 1:3):]
Replaces: octave (<= 2.0.16-2)
Provides: octave-info
Description: GNU Info documentation on the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in info format:
 the FAQ, a document on the C++ classes used by Octave, as well as the main
 octave documentation which is needed for the 'help -i foo' command within
 Octave.[V_2_1:
 .
 The recommended branch of Octave is 3.0.  Please, use the octave3.0-info
 package instead of this one, since it will be dropped after the Debian
 lenny release.:][V_3_1:
 .
 This recommended branch of Octave is 3.0.  The 3.1 branch is
 experimental and is considered to be unstable.:]

[V_3_0:
Package: octave2.9
Architecture: all
Depends: octave3.0
Description: GNU Octave language for numerical computations (dummy package)
 This is a dummy package for easying the transition from octave2.9 to
 octave3.0.  Once octave3.0 is installed in the system, this package
 can be removed.

Package: octave2.9-doc
Architecture: all
Section: doc
Depends: octave3.0-doc
Description: PDF documentation on the GNU Octave language (dummy package)
 This is a dummy package for easying the transition from octave2.9 to
 octave3.0.  Once octave3.0-doc is installed in the system, this package
 can be removed.

Package: octave2.9-htmldoc
Architecture: all
Section: doc
Depends: octave3.0-htmldoc
Description: HTML documentation on the GNU Octave language (dummy package)
 This is a dummy package for easying the transition from octave2.9 to
 octave3.0.  Once octave3.0-htmldoc is installed in the system, this package
 can be removed.

Package: octave2.9-headers
Architecture: all
Depends: octave3.0-headers
Description: header files for the GNU Octave language (dummy package)
 This is a dummy package for easying the transition from octave2.9 to
 octave3.0.  Once octave3.0-headers is installed in the system, this package
 can be removed.

Package: octave2.9-emacsen
Architecture: all
Depends: octave3.0-emacsen
Description: Emacs support for the GNU Octave language (dummy package)
 This is a dummy package for easying the transition from octave2.9 to
 octave3.0.  Once octave3.0-emacsen is installed in the system, this package
 can be removed.

Package: octave2.9-info
Architecture: all
Depends: octave3.0-info
Description: GNU Info documentation on the GNU Octave language (dummy package)
 This is a dummy package for easying the transition from octave2.9 to
 octave3.0.  Once octave3.0-info is installed in the system, this package
 can be removed.
:]

Package: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]-dbg
Section: devel
Priority: extra
Architecture: any
Depends: octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:] (=${binary:Version})
Description: Debug symbols for octave[V_2_1:2.1:][V_3_0:3.0:][V_3_1:3.1:]
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 Octave uses some of the best and most respected numerical libraries as
 balgen, dassl, eispack, fftpack, lapack, linpack, minpack, odepack,
 ranlib, slatec-fn and villad. Octave can be dynamically extended with
 user-supplied C++ files.
 .
 This package provides the debug symbols.
