Source: octave[V_2_1:2.1:][V_2_9:2.9:]
Section: math
Priority: optional
Maintainer: Debian Octave Group <pkg-octave-devel@lists.alioth.debian.org>
Uploaders: Rafael Laboissiere <rafael@debian.org>,
 Thomas Weber <thomas.weber.mail@gmail.com>
Build-Depends: g++-4.1 (>= 4.1.1-4), debhelper (>= 5.0.0), autoconf, texinfo,
 texlive-latex-base, texlive-generic-recommended, g77, libreadline5-dev,
 libncurses5-dev, gperf, libhdf5-serial-dev (>= 1.6.5) |
 libhdf5-lam-dev (>= 1.6.5) | libhdf5-mpich-dev (>= 1.6.5),
 refblas3-dev | atlas3-base-dev, lapack3-dev | atlas3-base-dev,
 gnuplot-nox, fftw3-dev, texi2html, less, dpatch,
 slice[V_2_9:, libpcre3-dev, flex, libglpk-dev (>= 4.15),
 libsuitesparse-dev, gawk, gs-gpl, libcurl4-dev:]
Standards-Version: 3.7.2
XS-Vcs-Svn: svn://svn.debian.org/svn/pkg-octave/octave/
XS-Vcs-Browser: http://svn.debian.org/wsvn/pkg-octave/octave/

Package: octave[V_2_1:2.1:][V_2_9:2.9:]
Architecture: any
Depends: ${shlibs:Depends}, texinfo
Recommends: gnuplot
Suggests: octave[V_2_1:2.1:][V_2_9:2.9:]-info,
 octave[V_2_1:2.1:][V_2_9:2.9:]-doc, octave[V_2_1:2.1:][V_2_9:2.9:]-htmldoc,
 octave[V_2_1:2.1:][V_2_9:2.9:]-headers (= ${source:Version}),
 octave[V_2_1:2.1:][V_2_9:2.9:]-emacsen
Replaces: octave (<= 2.0.16-2)
Conflicts: octave (<= 2.0.16-2)
Provides: octave
Description: GNU Octave language for numerical computations ([V_2_1:2.1:][V_2_9:2.9:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 Octave uses some of the best and most respected numerical libraries as
 balgen, dassl, eispack, fftpack, lapack, linpack, minpack, odepack,
 ranlib, slatec-fn and villad. Octave can be dynamically extended with
 user-supplied C++ files.
 .
  Homepage: http://www.octave.org/

Package: octave[V_2_1:2.1:][V_2_9:2.9:]-doc
Architecture: all
Section: doc
Suggests: octave[V_2_1:2.1:][V_2_9:2.9:], xpdf | pdf-viewer
Conflicts: octave-doc (<< 2.1)
Provides: octave-doc
Replaces: octave-doc
Description: PDF documentation on the GNU Octave language ([V_2_1:2.1:][V_2_9:2.9:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in PDF format:
 the FAQ, a reference card in a4, letter and legal formats, a document on the
 C++ classes used by Octave, as well as the main octave documentation which
 is also included in info format in the octave[V_2_1:2.1:][V_2_9:2.9:]-info package.
 .
  Homepage: http://www.octave.org/

Package: octave[V_2_1:2.1:][V_2_9:2.9:]-htmldoc
Architecture: all
Suggests: octave[V_2_1:2.1:][V_2_9:2.9:], lynx | www-browser
Conflicts: octave-htmldoc (<< 2.1), octave2.0-htmldoc
Replaces: octave-htmldoc
Provides: octave-htmldoc
Description: HTML documentation on the GNU Octave language ([V_2_1:2.1:][V_2_9:2.9:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in html format:
 the FAQ, a document on the C++ classes used by Octave, as well as the main
 octave documentation which is also included in info format in the main
 Octave package.
 .
  Homepage: http://www.octave.org/

Package: octave[V_2_1:2.1:][V_2_9:2.9:]-headers
Architecture: any
Depends: octave[V_2_1:2.1:][V_2_9:2.9:] (= ${binary:Version}), g++, g77,
 libreadline5-dev, libncurses5-dev, libhdf5-serial-dev (>= 1.6.5)
 | libhdf5-lam-dev (>= 1.6.5) | libhdf5-mpich-dev (>= 1.6.5),
 refblas3-dev | atlas3-base-dev, lapack3-dev | atlas3-base-dev, fftw3-dev,
 ${m68k:Depends}
Conflicts: octave-headers (<< 2.1)
Provides: octave-headers
Replaces: octave-headers
Description: header files for the GNU Octave language ([V_2_1:2.1:][V_2_9:2.9:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the include files needed to compile and link
 user-supplied code with GNU Octave. If you only write interpreted .m files,
 you do not need this package.
 .
 The package is architecture-specific as it contains machine-dependent
 compiler switches in the mkoctfile script.
 .
  Homepage: http://www.octave.org/

Package: octave[V_2_1:2.1:][V_2_9:2.9:]-emacsen
Architecture: all
Depends: octave[V_2_1:2.1:][V_2_9:2.9:], emacs21 | xemacs21 | emacsen,
 debianutils (>= 1.6)
Replaces: octave (<= 2.0.16-2)
Conflicts: octave2.0-emacsen
Provides: octave-emacsen
Description: Emacs support for the GNU Octave language ([V_2_1:2.1:][V_2_9:2.9:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the elisp files for the Octave modes for GNU Emacs
 and XEmacs.
 .
  Homepage: http://www.octave.org/

Package: octave[V_2_1:2.1:][V_2_9:2.9:]-info
Architecture: all
Depends: info (>= 3.12) | info-browser
Replaces: octave (<= 2.0.16-2)
Conflicts: octave2.0-info
Provides: octave-info
Description: GNU Info documentation on the GNU Octave language ([V_2_1:2.1:][V_2_9:2.9:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in info format:
 the FAQ, a document on the C++ classes used by Octave, as well as the main
 octave documentation which is needed for the 'help -i foo' command within
 Octave.
 .
  Homepage: http://www.octave.org/

[V_2_9:
Package: octave
Architecture: all
Depends: octave2.9
Description: GNU Octave language for numerical computations (2.9 branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This package is an empty 'virtual' package whose sole purpose is to
 install the current Octave version from the 2.9 branch (the recommended
 testing branch) .
 .
 Once you have the octave2.9 package installed, you can remove this package.
:]
