[EMACS: -*- debian-control -*- :]
Source: octave[V_2_1:2.1:][V_3_0:3.0:]
Section: math
Priority: optional
Maintainer: Debian Octave Group <pkg-octave-devel@lists.alioth.debian.org>
Uploaders: Rafael Laboissiere <rafael@debian.org>,
 Thomas Weber <thomas.weber.mail@gmail.com>
Build-Depends: debhelper (>= 6.0.0), autoconf, texinfo,
 texlive-latex-base, texlive-generic-recommended, gfortran, libreadline5-dev,
 libncurses5-dev, gperf, libhdf5-serial-dev (>= 1.6.5) |
 libhdf5-lam-dev (>= 1.6.5) | libhdf5-mpich-dev (>= 1.6.5),
 libblas-dev, liblapack-dev,
 gnuplot-nox, libfftw3-dev, texi2html, less, dpatch,
 slice[V_3_0:, libpcre3-dev, flex, libglpk-dev (>= 4.15),
 libsuitesparse-dev (>= 3.1.0-1), gawk, gs-gpl, libcurl4-dev, libqhull-dev,
 desktop-file-utils:][V_3_0:, libpcre3-dev, flex, libglpk-dev (>= 4.15),
 libsuitesparse-dev, gawk, gs-gpl, libcurl4-dev, libqhull-dev,
 desktop-file-utils:]
Standards-Version: 3.7.3
Homepage: http://www.octave.org/
Vcs-Svn: svn://svn.debian.org/svn/pkg-octave/octave/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-octave/octave/

Package: octave[V_2_1:2.1:][V_3_0:3.0:]
Architecture: any
Depends: ${shlibs:Depends}, texinfo
Recommends: gnuplot, libatlas3gf-base
Suggests: octave[V_2_1:2.1:][V_3_0:3.0:]-info,
 octave[V_2_1:2.1:][V_3_0:3.0:]-doc,
 octave[V_2_1:2.1:][V_3_0:3.0:]-htmldoc,
 octave[V_2_1:2.1:][V_3_0:3.0:]-headers (= ${binary:Version}),
 octave[V_2_1:2.1:][V_3_0:3.0:]-emacsen
Replaces: octave (<= 2.0.16-2)[V_3_0:,octave2.9:]
Conflicts: octave (<= 2.0.16-2)[V_3_0:,octave2.9:]
Provides: octave[V_3_0:,octave2.9:]
Description: GNU Octave language for numerical computations ([V_2_1:2.1:][V_3_0:3.0:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 Octave uses some of the best and most respected numerical libraries as
 balgen, dassl, eispack, fftpack, lapack, linpack, minpack, odepack,
 ranlib, slatec-fn and villad. Octave can be dynamically extended with
 user-supplied C++ files.

Package: octave[V_2_1:2.1:][V_3_0:3.0:]-doc
Architecture: all
Section: doc
Suggests: octave[V_2_1:2.1:][V_3_0:3.0:], xpdf | pdf-viewer
Conflicts: octave-doc (<< 2.1)[V_3_0:,octave2.9-doc:]
Provides: octave-doc[V_3_0:,octave2.9-doc:]
Replaces: octave-doc[V_3_0:,octave2.9-doc:]
Description: PDF documentation on the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in PDF format:
 the FAQ, a reference card in a4, letter and legal formats, a document on the
 C++ classes used by Octave, as well as the main octave documentation which
 is also included in info format in the octave[V_2_1:2.1:][V_3_0:3.0:]-info package.

Package: octave[V_2_1:2.1:][V_3_0:3.0:]-htmldoc
Architecture: all
Section: doc
Suggests: octave[V_2_1:2.1:][V_3_0:3.0:], lynx | www-browser
Conflicts: octave-htmldoc (<< 2.1), octave2.0-htmldoc[V_3_0:,octave2.9-htmldoc:]
Replaces: octave-htmldoc[V_3_0:,octave2.9-htmldoc:]
Provides: octave-htmldoc[V_3_0:,octave2.9-htmldoc:]
Description: HTML documentation on the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in html format:
 the FAQ, a document on the C++ classes used by Octave, as well as the main
 octave documentation which is also included in info format in the main
 Octave package.

Package: octave[V_2_1:2.1:][V_3_0:3.0:]-headers
Architecture: any
Depends: octave[V_2_1:2.1:][V_3_0:3.0:] (= ${binary:Version}), g++, gfortran,
 libreadline5-dev, libncurses5-dev, libhdf5-serial-dev (>= 1.6.5)
 | libhdf5-lam-dev (>= 1.6.5) | libhdf5-mpich-dev (>= 1.6.5),
 libblas-dev, liblapack-dev, libfftw3-dev,
 ${m68k:Depends}
Conflicts: octave-headers (<< 2.1)[V_3_0:,octave2.9-headers:]
Provides: octave-headers[V_3_0:,octave2.9-headers:]
Replaces: octave-headers[V_3_0:,octave2.9-headers:]
Description: header files for the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the include files needed to compile and link
 user-supplied code with GNU Octave. If you only write interpreted .m files,
 you do not need this package.
 .
 The package is architecture-specific as it contains machine-dependent
 compiler switches in the mkoctfile script.

Package: octave[V_2_1:2.1:][V_3_0:3.0:]-emacsen
Architecture: all
Depends: octave[V_2_1:2.1:][V_3_0:3.0:], emacs22 | xemacs21 | emacsen,
 debianutils (>= 1.6)
Conflicts: octave2.0-emacsen[V_3_0:,octave2.9-emacsen:]
Replaces: octave (<= 2.0.16-2)[V_3_0:,octave2.9-emacsen:]
Provides: octave-emacsen[V_3_0:,octave2.9-emacsen:]
Description: Emacs support for the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the elisp files for the Octave modes for GNU Emacs
 and XEmacs.

Package: octave[V_2_1:2.1:][V_3_0:3.0:]-info
Architecture: all
Depends: info (>= 3.12) | info-browser
Conflicts: octave2.0-info[V_3_0:,octave2.9-info:]
Replaces: octave (<= 2.0.16-2)[V_3_0:,octave2.9-info:]
Provides: octave-info[V_3_0:,octave2.9-info:]
Description: GNU Info documentation on the GNU Octave language ([V_2_1:2.1:][V_3_0:3.0:] branch)
 Octave is a (mostly Matlab (R) compatible) high-level language, primarily
 intended for numerical computations. It provides a convenient command-line
 interface for solving linear and nonlinear problems numerically.
 .
 This packages provides the following documentation in info format:
 the FAQ, a document on the C++ classes used by Octave, as well as the main
 octave documentation which is needed for the 'help -i foo' command within
 Octave.
