#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ --with autoreconf --parallel

clean:
	dh clean


# override normal dh_compress call to avoid compressing .pdf files
override_dh_compress:
	dh_compress -O--parallel --exclude=.pdf

# override this call, so we do not pass the --parallel option to it; 
# "make -j2 install" does not work as of now
override_dh_auto_install:
	dh_auto_install --max-parallel=1

# save debug information into the debug package
override_dh_strip:
	dh_strip -a --dbg-package=octave-dbg

get-orig-source:
	uscan --force-download --rename --destdir .
.PHONY: get-orig-source
