#!/usr/bin/make -f
# 							-*- makefile -*-
# debian/rules file for the Debian/GNU Linux octave package
# Copyright 1997-99,2000-03 by Dirk Eddelbuettel <edd@debian.org>
#
# $Id$


include /usr/share/dpatch/dpatch.make

# in order: octave, octave2.1, 2.1.28, 2.1  (or whatever the version is)
source		:= $(shell head -1 debian/changelog | \
			perl -nle 'm/^([a-z]+)/ and print $$1')
PACKAGE		:= $(shell head -1 debian/changelog | \
			perl -nle 'm/^(\S+)\s+/ and print $$1')
version       	:= $(shell head -1 debian/changelog | \
			perl -nle 'm/\S+\s+\((\S+)-\S+\)/ and print $$1')
major       	:= $(shell head -1 debian/changelog | perl -nle \
			'm/\S+\s+\((\d\.\d)\.\d+-\S+\)/ and print $$1')

doc_package	= $(PACKAGE)-doc
html_package	= $(PACKAGE)-htmldoc
dev_package	= $(PACKAGE)-headers
emacs_package	= $(PACKAGE)-emacsen
info_package	= $(PACKAGE)-info

debbase		:= $(CURDIR)/debian
debtmp		:= $(debbase)/octave2.1
debdoc		:= $(debtmp)/usr/share/doc/$(PACKAGE)
deblsp		:= $(debbase)/$(emacs_package)/usr/share/emacs/site-lisp/$(emacs_package)
debini		:= $(debtmp)/usr/share/octave/site/m/startup
debininew	:= $(debtmp)/usr/share/octave/$(version)/m/startup

## edd  3 Feb 2003  gcc 3.2, also imposed uniformly via Build-Depends
## edd 27 Jun 2003  now that gcc 3.3 is in unstable and testing, relax this
#c_compiler	= /usr/bin/gcc-3.3
#cxx_compiler	= /usr/bin/g++-3.3
#f77_compiler	= /usr/bin/g77-3.3
c_compiler	= /usr/bin/gcc
cxx_compiler	= /usr/bin/g++
f77_compiler	= /usr/bin/gfortran
fc_flag		= --with-f77=$(f77_compiler)
fc_libs		=
compilerflags	= -O2
linkerflags	= -s

# default to blas, atlas can overload where available (see README.Atlas)
#atlas		= --with-blas=/usr/lib/libblas.so \
#		  --with-lapack=/usr/lib/liblapack.so
#atlas		= --with-blas=/usr/lib/libblas-3.so \
#		  --with-lapack=/usr/lib/liblapack-3.so
atlas		= --with-blas=-lblas-3 --with-lapack=-llapack-3

arch 		:= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

## edd 20 Jun 2002      no optimisation or debugging on baby systems
ifneq "$(findstring $(arch), m68k-linux arm-linux)" ""
compilerflags	= -O0 -g0
endif

# edd 25 Aug 2002  arm does not have atlas
ifeq ($(arch),arm-linux)
atlas		= --without-blas
endif

## edd 25 May 2003      actually, we need -O1 on m68k, as well as f2c
## edd 02 Jul 2003      use fort77 instead for its comman cmdline options
#ifeq ($(arch),m68k-linux)
ifneq "$(findstring $(arch), m68k-linux)" ""
f77_compiler	= /usr/bin/fort77
fc_flag		= --with-f77=/usr/bin/fort77 --without-f2c
fc_libs		= -lf2c
compilerflags	= -O0 -g0
endif

#export DH_VERBOSE=1
#export DH_COMPAT=3

debian/control: debian/in/control
	slice -o UNDEF+V_`echo $(major) | sed s/\\\\./_/g`:$@ $<

maintainer-clean:
	rm -f debian/control

helper-files:
	for in in debian/in/PACKAGE* ; do \
		out=`echo $$in | sed 's:/in/:/:;s/PACKAGE/$(PACKAGE)/'` ; \
		sed 's/@VERSION@/$(version)/g;s/@PACKAGE@/$(PACKAGE)/g;s/@MAJOR@/$(major)/g' \
			< $$in > $$out ; \
	done
	sed 's/@MAJOR@/$(major)/g' < debian/in/watch > debian/watch

get-orig-source: upstream
upstream:
	links ftp://ftp.octave.org/pub/octave/bleeding-edge

build: build-stamp configure-stamp make-stamp check-stamp
build-stamp: configure make check
	touch build-stamp

configure: helper-files patch-stamp configure-stamp
configure-stamp:
	dh_testdir

        #cat debian/2.1.54_arrayindex.patch | patch -p0 --verbose

        # use Debian's tempfile(1) for enhanced security
	cp octave-bug.in octave-bug.in.orig
	perl -p -i -e 's|/tmp/octave-bug.\$$\$$|`tempfile`|' octave-bug.in

	[ -f autogen.sh ] &&  ./autogen.sh && chmod 0755 configure

	DEFAULT_PAGER=pager	\
	CC=$(c_compiler) 	\
	CXX=$(cxx_compiler)	\
	F77=$(f77_compiler)	\
	FLIBS=$(fc_libs)	\
	./configure		\
			--prefix=/usr				\
			--datadir=/usr/share			\
			--libdir=/usr/lib			\
			--libexecdir=/usr/lib		 	\
			--infodir=/usr/share/info		\
			--mandir=/usr/share/man			\
			$(atlas)				\
			--with-hdf5				\
			--with-fftw				\
			$(fc_flag)				\
			--enable-shared				\
			--enable-rpath				\
			--disable-static			\
			--build $(arch)

	pod2man debian/octave-depends > octave-depends.1

	touch configure-stamp

make: configure-stamp make-stamp
make-stamp:
	$(MAKE)		CFLAGS="$(compilerflags)"		\
			CXXFLAGS="$(compilerflags)"		\
			FFLAGS="$(compilerflags)"		\
			LDFLAGS="$(linkerflags)"		\
			CC="$(c_compiler)"			\
			CXX="$(cxx_compiler)"			\
			F77="$(f77_compiler)"
	touch make-stamp

check: configure-stamp make-stamp check-stamp
check-stamp:
	-$(MAKE) 	check
	touch check-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	-$(MAKE) -i distclean || $(MAKE) -f Makefile.in distclean
	rm -f build-stamp configure-stamp make-stamp check-stamp \
		install-stamp
	-rm -vrf libcruft/libcruft.so libcruft/*/Makefile		\
		install.octave  scripts/gethelp  libcruft/misc/*.d	\
		scripts/autom4te.cache config.log Makefrag.f77		\
		src/PKG_ADD src/pic src/*.oct src/*.df
        ##doc/interpreter/octave.{dvi,ps} doc/faq/Octave-FAQ_*.html
        ##scripts/DOCSTRINGS
	test ! -f octave-bug.in.orig || mv octave-bug.in.orig octave-bug.in
	for i in $(PACKAGE) $(PACKAGE)-headers $(PACKAGE)-emacsen; do \
		for j in postinst prerm; do \
			rm -f debian/$${i}.$${j} ; \
		done ; \
	done
	rm -f debian/$(PACKAGE).lintian octave-depends.1

	for in in debian/in/PACKAGE* ; do \
		rm -f `echo $$in | sed 's:/in/:/:;s/PACKAGE/$(PACKAGE)/'` ; \
	done

	dh_clean

# install files
install: configure-stamp make-stamp check-stamp install-stamp
install-stamp:
	dh_testdir
	dh_testroot
#	dh_clean -a -k
	dh_installdirs -A
	$(MAKE) INSTALL_PROGRAM="install -s" 			\
		prefix=$(debtmp)/usr 				\
		datadir=$(debtmp)/usr/share			\
		infodir=$(debtmp)/usr/share/info		\
		libdir=$(debtmp)/usr/lib			\
		libexecdir=$(debtmp)/usr/lib			\
		mandir=$(debtmp)/usr/share/man		install
	dh_installman octave-depends.1
	install debian/octave-depends $(debtmp)/usr/bin
	install --mode=644 debian/defs.make $(debtmp)/usr/share/octave/debian
	(cd $(debtmp)/usr/share/man/man1; 				\
		mv -v	octave.1	octave-$(version).1;    	\
		mv -v   octave-bug.1	octave-bug-$(version).1;	\
		mv -v	octave-config.1	octave-config-$(version).1;   	\
		mv -v   mkoctfile.1	mkoctfile-$(version).1;		)
	(cd $(debtmp)/usr/bin; 						\
		rm -v   octave	octave-bug mkoctfile octave-config)
	touch install-stamp

binary-indep: build install check
	dh_testdir -i
	dh_testroot -i
#	dh_clean -i -k
        #$(MAKE) prefix=`pwd`/debian/tmp install
	dh_installdocs -n -p$(doc_package) doc/*/*.pdf
	dh_installdocs -n -p$(html_package) doc/*/*.html
	dh_installdocs -i
        # install Octave Emacs files and Debian Emacsen files
	dh_installdirs -p$(emacs_package)
	dh_installdirs -p$(emacs_package) \
		usr/share/emacs/site-lisp/$(emacs_package)
	install -p -m 0644 emacs/*.el		$(deblsp)
	dh_installemacsen -p$(emacs_package)
	install -p -m 0755 emacs/otags			\
		$(debbase)/$(emacs_package)/usr/bin/otags-$(version)
	install -p -m 0644 emacs/otags.1			\
	     $(debbase)/$(emacs_package)/usr/share/man/man1/otags-$(version).1
        # fix emacs startup name
	(cd debian/$(emacs_package)/etc/emacs/site-start.d/; \
		mv 50$(emacs_package).el 50$(source).el)
#	dh_installexamples -i
#	dh_installmenu -p$(html_package)
#	dh_installinit -i
#	dh_installcron -i
#	dh_installmanpages -i
#	dh_undocumented -p$(dev_package) 	mkoctfile.1
#	dh_undocumented -p$(emacs_package)	otags-$(version).1
	dh_installchangelogs -i			ChangeLog
	dh_compress -i
	dh_fixperms -i
#	dh_suidregister -i
	dh_installdeb -i
	dh_gencontrol -i
#	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install check
	dh_testdir -a
	dh_testroot -a
#	dh_clean -a -k
	dh_installdirs -p$(PACKAGE)
        # remove the /usr/share/info/dir stab
	rm -vf $(debtmp)/usr/share/info/dir
        # save the static libs for seperate package octave-staticlibs
#	dh_movefiles -p$(lib_package) 	usr/lib/$(source)-$(version)/*.a
        # save the include files for the header package
	dh_movefiles -p$(dev_package) --sourcedir=debian/octave2.1	\
			usr/include/		 			\
			usr/bin/mkoctfile-$(version) 			\
			usr/bin/octave-depends		 		\
			usr/share/man/man1/mkoctfile-$(version).1	\
			usr/share/man/man1/octave-depends.1		\
			usr/share/octave/debian/defs.make
	rm -r $(debtmp)/usr/include
        # save the info files for the info package
	dh_movefiles -p$(info_package) --sourcedir=debian/octave2.1	\
			usr/share/info/
        # install /etc/octave.conf
	install -p -m 0644  debian/octave.conf  $(debtmp)/etc/$(PACKAGE).conf
        # install lintian overrride
	install -p -m 0644  debian/$(PACKAGE).lintian \
			$(debtmp)/usr/share/lintian/overrides/$(PACKAGE)
        ## link the conf.file back from /etc over the version.spec. rc
	ln -sf /etc/$(PACKAGE).conf 		$(debininew)/octaverc
        ## this file would exist under 2.0 and 2.1 with the same name
	rm -v 					$(debini)/octaverc
        # already installed by make
	dh_installinfo -n -p$(info_package)  	doc/*/*.info*
	dh_installdocs -a			README README.kpathsea \
						NEWS* PROJECTS
	dh_installdocs -p$(PACKAGE) 		debian/README.Atlas
        # recreated in postinst in share/, not needed in lib
	rm -vf	$(debtmp)/usr/lib/octave/ls-R \
		$(debtmp)/usr/share/octave/ls-R
#	dh_installexamples -a
	dh_installexamples  -p$(dev_package)  	examples/*
#	dh_installmenu -a
	dh_installmenu -p$(PACKAGE)
#	dh_installinit -a
#	dh_installcron -a
#	dh_installmanpages -a
#	dh_undocumented	-p$(PACKAGE)		octave-config-$(version).1
	dh_installchangelogs -a ChangeLog ChangeLog.1
	for i in glob libcruft liboctave src scripts test doc; do \
		cp -vax $$i/ChangeLog $(debdoc)/changelog.$$i; done
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
#	dh_suidregister -a
	dh_installdeb -a
	dh_shlibdeps -a
	if [ `dpkg-architecture -qDEB_BUILD_ARCH` = "m68k" ];then \
		echo "m68k:Depends=f2c" >> debian/$(PACKAGE)-headers.substvars; \
	fi
	dh_gencontrol -a
#	dh_makeshlibs -a
#	dh_md5sums -a
	dh_builddeb -a

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: install helper-files binary-arch binary-indep
.PHONY: build clean make configure binary-indep binary-arch binary

